# ignore aurelia_project folder
aurelia_project

# ignore sourcecode
src

# ignore sample dist
docs
images

# general project files
index.pug
index.html
index.scss
index.css
scripts
style
icons
tsconfig.json
tsconfig.dist.json
tslint.json
aurelia-mdc-bridge*.tgz

# ignore other project files
.editorconfig
.gitignore
.npmignore
.npmrc
.vscode
