.my-loader-container {
  position: absolute;
  top: 50%;
  margin-top: -48px;
  left: 0;
  width: 100%;
}

.my-loader-content {
  background-image: url(icons/android-icon-144x144.png);
  background-size: cover;
  width: 96px;
  height: 96px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  transition: opacity 3s, height 3s, width 3s;
}

.my-loader-transaction {
  opacity: 1;
  height: 104px;
  width: 104px;
}
