template
  .mdc-linear-progress(role="progressbar" ref="elementDiv" class.bind="class")
    .mdc-linear-progress__buffering-dots
    .mdc-linear-progress__buffer
    .mdc-linear-progress__bar.mdc-linear-progress__primary-bar
      span.mdc-linear-progress__bar-inner
    
    .mdc-linear-progress__bar.mdc-linear-progress__secondary-bar
      span.mdc-linear-progress__bar-inner
