/* Place drawer and content side by side. */
.container-permanent-above-body {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-height: 100%;
  width: 100%;
}

/* Stack toolbar and main on top of each other. */
.container-permanent-above-content {
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  box-sizing: border-box;
}

/* Main content padding */
.container-permanent-above-main {
  padding: 16px 16px 0 16px;
}
