template

  section
    legend.mdc-typography--display1 Typography
    p.
      This page is not needed here since it's not wrappen in a component.
      Just for my own for now
      
  hr
  section
    a(href="https://material.io/components/web/catalog/typography/" target="_blank") Material components documentation
  section
    a(href="https://material.io/guidelines/style/typography.html" target="_blank") Material design guidelines
  hr

  section
    h1.mdc-typography--display4 Display4
    p mdc-typography--display4
    h1.mdc-typography--display3 Display3
    p mdc-typography--display3
    h1.mdc-typography--display2 Display2
    p mdc-typography--display2
    h1.mdc-typography--display1 Display1
    p mdc-typography--display1
    h1.mdc-typography--headline Headline
    p mdc-typography--headline
    h2.mdc-typography--title 
      | mdc-typography--title
      span.mdc-typography--caption mdc-typography--caption

    h3.mdc-typography--subheading2 mdc-typography--subheading2
    h4.mdc-typography--subheading1 mdc-typography--subheading1

    p.mdc-typography--body1.
      mdc-typography--body1 - paragraph.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
      do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
      in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    aside.mdc-typography--body2.
      mdc-typography--body2 - text, calling something out.


  section
    h1.mdc-typography--display4.mdc-typography--adjust-margin Display4
    p mdc-typography--display4 mdc-typography--adjust-margin
    h1.mdc-typography--display3.mdc-typography--adjust-margin Display3
    p mdc-typography--display3 mdc-typography--adjust-margin
    h1.mdc-typography--display2.mdc-typography--adjust-margin Display2
    p mdc-typography--display2 mdc-typography--adjust-margin
    h1.mdc-typography--display1.mdc-typography--adjust-margin Display1
    p mdc-typography--display1 mdc-typography--adjust-margin
    h1.mdc-typography--headline.mdc-typography--adjust-margin Headline
    p mdc-typography--headline mdc-typography--adjust-margin
    h2.mdc-typography--title.mdc-typography--adjust-margin 
      | mdc-typography--title
      span.mdc-typography--caption.mdc-typography--adjust-margin mdc-typography--caption

    h3.mdc-typography--subheading2.mdc-typography--adjust-margin mdc-typography--subheading2
    h4.mdc-typography--subheading1.mdc-typography--adjust-margin mdc-typography--subheading1

    p.mdc-typography--body1.mdc-typography--adjust-margin.
      mdc-typography--body1 - paragraph.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
      do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
      in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    aside.mdc-typography--body2.mdc-typography--adjust-margin.
      mdc-typography--body2 - text, calling something out.
