template

  mdc-grid
    mdc-grid-cell(span="12")
      span.mdc-typography--display1 Typography
      p.
        Some examples from Material components documentation.

    // LINKS  
    mdc-grid-cell(span="12")
      hr
      a(href="https://material.io/components/web/catalog/typography/" target="_blank" data-analytics-category="external" data-analytics-action="mdc-typography") Material components documentation
      br
      a(href="https://material.io/guidelines/style/typography.html" target="_blank" data-analytics-category="external" data-analytics-action="mdg-typography") Material design guidelines
      hr

    mdc-grid-cell(span="12")
      h1.mdc-typography--display4 Display4
      pre
        code-prism.
          <h1 class="mdc-typography--display4"></h1>

      h1.mdc-typography--display3 Display3
      pre
        code-prism.
          <h1 class="mdc-typography--display3"></h1>

      h1.mdc-typography--display2 Display2
      pre
        code-prism.
          <h1 class="mdc-typography--display2"></h1>

      h1.mdc-typography--display1 Display1
      pre
        code-prism.
          <h1 class="mdc-typography--display1"></h1>

      h1.mdc-typography--headline Headline
      pre
        code-prism.
          <h1 class="mdc-typography--headline"></h1>

      h2.mdc-typography--title Title
      pre
        code-prism.
          <h2 class="mdc-typography--title"></h2>

      span.mdc-typography--caption Caption
      pre
        code-prism.
          <span class="mdc-typography--caption"></span>

      h3.mdc-typography--subheading2 Subheading2
      pre
        code-prism.
          <h3 class="mdc-typography--subheading2"></h3>
      h4.mdc-typography--subheading1 Subheading1
      pre
        code-prism.
          <h4 class="mdc-typography--subheading1"></h4>

      p.mdc-typography--body1.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
        do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
        in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      pre
        code-prism.
          <p class="mdc-typography--body1">...</p>
      
      aside.mdc-typography--body2 calling something out.
      pre
        code-prism.
          <aside class="mdc-typography--body2">...</aside>

    mdc-grid-cell(span="12")
      a(href="https://material.io/components/web/catalog/typography/" target="_blank" data-analytics-category="external" data-analytics-action="mdc-typography") Much more at Material components documentation
