template
  //
  // DOCUMENTATION MENU
  //
  mdc-list(tag="nav" dense="true")
    mdc-list-item(href="#/documentation/start")
      span Getting started
    mdc-list-item(href="#/documentation/choose-components")
      span Choose Components
    mdc-list-item(href="#/documentation/offline")
      span Icons and fonts offline
    mdc-list-item(href="#/documentation/material-icons")
      span Material Icons tips
