template
  //
  // DOCUMENTATION MENU
  //
  mdc-list(tag="nav" dense="true")
    mdc-list-item(href="#/documentation/start")
      | Getting started
    mdc-list-item(href="#/documentation/offline")
      | Icons and fonts offline
    mdc-list-item(href="#/documentation/material-icons")
      | Material Icons tips
