template

  // ELEMENTS -MENU LIST
  require(from="./app-menu.html")

  // TOOLBAR
  mdc-toolbar.mdc-theme--dark(fixed="true" waterfall="true")
    mdc-toolbar-row

      // HEADER
      mdc-toolbar-section(start="true")
        a.mdc-toolbar__title-link(href="#/")
          h1.mdc-toolbar__title.mdc-toolbar__title--full ${title}
          h1.mdc-toolbar__title.mdc-toolbar__title--medium ${titleMedium}
          h1.mdc-toolbar__title.mdc-toolbar__title--mini ${titleMini}

      // MAIN NAV
      mdc-toolbar-section(end="true" fit="true")
        a(mdc-button="accent:true;" href="#/documentation") Documentation
        a(mdc-button href="#/components") Components
        a(mdc-button href="https://github.com/ullfis/aurelia-mdc-bridge" data-analytics-category="external" data-analytics-action="github") Github

  // adjust for fixed toolbar
  .mdc-toolbar-fixed-adjust

    // make drawer and main area stay side by side
    .container-permanent

      // NAV BAR
      mdc-drawer-permanent(spacer="false")
        app-menu

      // MAIN AREA
      main.mdc-typography--body1
        router-view
