// COMPONENTS - CARDS: HEADER STYLE
.my-demo-card .mdc-card .my-card-header {
  padding-top: 18px;

  h2 {
    @include mdc-typography(title);
    padding: 0 18px 0 18px;
    margin: 0;
  }
  
  h3 {
    @include mdc-typography(subheading1);
    @include mdc-theme-prop(color, text-secondary-on-background);
    padding: 0 18px 0 18px;
    margin: 0;
  }
}

// COMPONENTS - CARDS: CARD SIZE
.my-card-container .mdc-card {
  height: 120px;
  width: 300px;
}

// COMPONENTS - CARDS: RICH MEDIA
#example .mdc-card__media {
  background-image: url("images/16-9.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 90px;
} 

// FRONTPAGE CARDS
.my-frontpage-card .mdc-card {
  
  // HEADER
  .my-card-header {
    display: flex;
    padding: 8px 18px 8px 18px;

    .header-text {
      padding-left: 18px;
      padding-top: 8px;
      h2 {
        @include mdc-typography(title);
        margin: 0;
      }
      
      h3 {
        @include mdc-typography(subheading1);
        @include mdc-theme-prop(color, text-secondary-on-background);
        margin: 0;
      }
    }
  }

  // CONTENT
  .my-card-content {
    padding: 8px;
  }
}
