/* 
 * DARK THEME
 *
*/
.mdc-theme--dark {
  background-color: $my-dark-color;
  color: $my-white-on-dark-color;


  /* mdc-select-css */
  // select {
  //   background-color: #333;
  //   color: $my-white-on-dark-color;
  // }

  // /* mdc-select-css */
  // select option {
  //   background-color: #333;
  // }

}
section.components {
  padding: 8px 16px 8px 16px;
}
