/* 
 * DARK THEME
 *
*/
.mdc-theme--dark {
  background-color: $my-dark-color;
  color: $my-white-on-dark-color;


  /* mdc-select-css */
  select {
    background-color: #333;
  }

  /* mdc-select-css */
  select option {
    background-color: #333;
  }

  // // padding-left: 16px;
  
  // legend {
  //   color: $my-white-on-dark-color;
  // }

  // fieldset {
  //   background-color: $my-dark-color;

  //   legend {
  //     color: $my-white-on-dark-color;
  //   }
  // }

  // .mdc-switch-label, p, table {
  //   color: $my-white-on-dark-color;
  // }
}
section.components {
  padding: 8px 16px 8px 16px;
}

// /* Components demo area */
// .mdc-theme--dark.components {
//   color: $my-white-on-dark-color;
// }
