html {
  height: 100%;
}

body {
  min-height: 100%;
  padding: 0;
  margin: 0;
}

code-prism {
  overflow-x: auto;
  word-wrap: normal;
  white-space: pre;
}

hr {
  color: #f0f0f0;
}

/*
 * COMPONENTS SAMPLE AREA
 *
*/ 
fieldset {
  margin: 24px;
  margin-top: 0;
  margin-bottom: 16px;
  border: 0;

  legend {
    display: block;
    padding: 16px;
    padding-top: 64px;
    padding-bottom: 24px;
  }

  .mdc-button {
    margin: 16px;
  }  
}

/* Mark text */
.mark-text {
  background-color: #f5f2f0;
}

section.components {
  padding: 8px 16px 8px 16px;
}
