html {
  height: 100%;
}

body {
  min-height: 100%;
  padding: 0;
  margin: 0;
}

.sample-sub-list-item {
  padding-left: 16px;
  padding-right: 16px;
}

.container-permanent {
  display: flex;
  flex: 1 auto;
  flex-flow: row;
  box-sizing: border-box;

  main {
    padding: 16px 16px 72px 16px;
  }
}
