
// test
$mdc-layout-grid-default-margin-desktop: 40px;
$mdc-layout-grid-default-gutter-desktop: 40px;
$mdc-layout-grid-default-margin-tablet: 16px;
$mdc-layout-grid-default-gutter-tablet: 16px;
$mdc-layout-grid-default-margin-phone: 8px;
$mdc-layout-grid-default-gutter-phone: 8px;

// include @material styles (test)
@import "@material/animation/mdc-animation";
@import "@material/button/mdc-button";
@import "@material/card/mdc-card";
@import "@material/checkbox/mdc-checkbox";
@import "@material/dialog/mdc-dialog";
@import "@material/drawer/mdc-drawer";
@import "@material/elevation/mdc-elevation";
@import "@material/fab/mdc-fab";
@import "@material/form-field/mdc-form-field";
@import "@material/grid-list/mdc-grid-list";
@import "@material/icon-toggle/mdc-icon-toggle";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/linear-progress/mdc-linear-progress";
@import "@material/list/mdc-list";
@import "@material/menu/mdc-menu";
@import "@material/radio/mdc-radio";
@import "@material/ripple/mdc-ripple";
@import "@material/select/mdc-select";
@import "@material/slider/mdc-slider";
@import "@material/snackbar/mdc-snackbar";
@import "@material/switch/mdc-switch";
@import "@material/tabs/mdc-tabs";
@import "@material/textfield/mdc-textfield";
@import "@material/theme/mdc-theme";
@import "@material/toolbar/mdc-toolbar";
@import "@material/typography/mdc-typography";

// @material/animation @material/button @material/card @material/checkbox @material/dialog @material/drawer 
// @material/elevation @material/fab @material/form-field @material/grid-list @material/icon-toggle 
// @material/layout-grid @material/linear-progress @material/list @material/menu @material/radio @material/ripple 
// @material/select @material/slider @material/snackbar @material/switch @material/tabs @material/textfield 
// @material/theme @material/toolbar @material/typography

