// PROPERTY LIST
table.property-list {
  display: inline-block;
  overflow-x: auto;
  margin: 8px 0 32px;
  max-width: 100%;
  border: 1px solid #eee;
  border-collapse: collapse;
  border-spacing: 0;
  vertical-align: baseline;

  td, th, thead, tbody {
    vertical-align: baseline;
  }
  th {
    background: #fafafa;
    text-align: left;
  }
  td, th {
    border: 1px solid #eee;
    padding: 12px 12px 12px 24px;
  }
}

table.event-list {
  margin-top: 4px;
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;

  td, th, thead, tbody {
    vertical-align: baseline;
  }
}
