
// TOOLBAR TITLE
.mdc-toolbar__title-link {
  color: $my-white-on-dark-color;
  text-decoration: none;
}

@media(min-width: 680px) {
  .mdc-toolbar__title--full {
    display: block;
  }
  .mdc-toolbar__title--small {
    display: none;
  }  
}
@media(max-width: 679px) {
  .mdc-toolbar__title--full {
    display: none;
  }  
  .mdc-toolbar__title--small {
    display: block;
  }  
}
