template

  // TOOLBAR LINKS
  require(from="../../toolbar-links")

  // TOOLBAR TITLE
  require(from="../../toolbar-title")

  // TOOLBAR
  mdc-toolbar.mdc-theme--dark(fixed.bind="fixed" waterfall.bind="waterfall")
    mdc-toolbar-row

      // HEADER
      mdc-toolbar-section(start="true")
        toolbar-title(show-menu.bind="showMenu")

      // MAIN NAV
      mdc-toolbar-section(end="true" fit="true")
        toolbar-links(doc="false" comp="true")
