template
  //
  // SAMPLE MENU
  //
  mdc-list(tag="nav" dense="true")
    mdc-list-item(href="#/components/buttons")
      | Buttons    
    mdc-list-item(href="#/components/buttons/fab")
      .drawer-menu-list--child
        | FAB
    mdc-list-item(href="#/components/buttons/icon-toggle")
      .drawer-menu-list--child
        | Icon Toggle

    mdc-list-item(href="#/components/cards")
      | Cards
    mdc-list-item(href="#/components/dialog")
      | Dialogs


    mdc-list-item Drawers
    mdc-list-item(href="#/components/drawer/permanent-above")
      .drawer-menu-list--child
        | Permanent Above Toolbar
    mdc-list-item(href="#/components/drawer/permanent-below")
      .drawer-menu-list--child
        | Permanent Below Toolbar
    mdc-list-item(href="#/components/drawer/persistent")
      .drawer-menu-list--child
        | Persistent Drawer
    mdc-list-item(href="#/components/drawer/temporary")
      .drawer-menu-list--child
        | Temporary Drawer

    mdc-list-item(href="#/components/grid-list")
      | Grid Lists

    mdc-list-item Inputs and controls
    mdc-list-item(href="#/components/inputs/checkbox")
      .drawer-menu-list--child 
        | Checkboxes
    mdc-list-item(href="#/components/inputs/radio")
      .drawer-menu-list--child
        | Radio Buttons
    mdc-list-item(href="#/components/inputs/selects")
      .drawer-menu-list--child
        | Select Menus
    mdc-list-item(href="#/components/inputs/selects-css")
      .drawer-menu-list--child
        | Select Menus css
    mdc-list-item(href="#/components/inputs/slider")
      .drawer-menu-list--child
        | Sliders
    mdc-list-item(href="#/components/inputs/switches")
      .drawer-menu-list--child
        | Switches
    mdc-list-item(href="#/components/inputs/textfield")
      .drawer-menu-list--child
        | Text Fields


    mdc-list-item(href="#/components/grids")
      | Layout Grids
    mdc-list-item(href="#/components/linear-progress")
      | Linear Progress
    mdc-list-item(href="#/components/list")
      | Lists
    mdc-list-item(href="#/components/simple-menu")
      | Menus
    mdc-list-item(href="#/components/ripple")
      | Ripples
    mdc-list-item(href="#/components/snackbar")
      | Snackbars
    mdc-list-item(href="#/components/tabs")
      | Tabs
    mdc-list-item(href="#/components/toolbars")
      | Toolbars

    mdc-list-item(href="#/components/typography")
      | Typography
