template
  //
  // SAMPLE MENU
  //
  mdc-list(tag="nav" dense="true")
    mdc-list-item(href="#/components/buttons")
      | Buttons    
    mdc-list-item(href="#/components/buttons/fab")
      .drawer-menu-list--child
        | FAB
    mdc-list-item(href="#/components/buttons/icon-toggle")
      .drawer-menu-list--child
        | Icon Toggle

    mdc-list-item(href="#/components/cards")
      | Cards
    mdc-list-item(href="#/components/chips")
      | Chips
    mdc-list-item(href="#/components/dialogs")
      | Dialogs


    mdc-list-item Drawers
    mdc-list-item(href="#/components/drawers/permanent-above")
      .drawer-menu-list--child
        | Permanent Above Toolbar
    mdc-list-item(href="#/components/drawers/permanent-below")
      .drawer-menu-list--child
        | Permanent Below Toolbar
    mdc-list-item(href="#/components/drawers/persistent")
      .drawer-menu-list--child
        | Persistent Drawer
    mdc-list-item(href="#/components/drawers/temporary")
      .drawer-menu-list--child
        | Temporary Drawer

    mdc-list-item(href="#/components/grid-lists")
      | Grid Lists

    mdc-list-item Inputs and controls
    mdc-list-item(href="#/components/inputs/checkboxes")
      .drawer-menu-list--child 
        | Checkboxes
    mdc-list-item(href="#/components/inputs/radio-buttons")
      .drawer-menu-list--child
        | Radio Buttons
    mdc-list-item(href="#/components/inputs/select-menus")
      .drawer-menu-list--child
        | Select Menus
    mdc-list-item(href="#/components/inputs/sliders")
      .drawer-menu-list--child
        | Sliders
    mdc-list-item(href="#/components/inputs/switches")
      .drawer-menu-list--child
        | Switches
    mdc-list-item(href="#/components/inputs/text-fields")
      .drawer-menu-list--child
        | Text Fields


    mdc-list-item(href="#/components/layout-grids")
      | Layout Grid
    mdc-list-item(href="#/components/linear-progress")
      | Linear Progress
    mdc-list-item(href="#/components/lists")
      | Lists
    mdc-list-item(href="#/components/menus")
      | Menus
    mdc-list-item(href="#/components/ripples")
      | Ripples
    mdc-list-item(href="#/components/snackbars")
      | Snackbars
    mdc-list-item(href="#/components/tabs")
      | Tabs
    mdc-list-item(href="#/components/toolbars")
      | Toolbars

    mdc-list-item(href="#/components/typography")
      | Typography
