template
  //
  // SAMPLE MENU
  //
  mdc-list(tag="nav" dense="true")
    mdc-list-item(href="#/components/buttons")
      | Buttons    
    mdc-list-item(href="#/components/buttons/fab")
      .sample-sub-list-item
        | Fab
    mdc-list-item(href="#/components/buttons/icon-toggle")
      .sample-sub-list-item
        | Icon-toggle

    mdc-list-divider
    mdc-list-item(href="#/components/cards")
      | Cards
    mdc-list-item(href="#/components/dialog")
      | Dialog

    mdc-list-divider
    mdc-list-item Drawers
    mdc-list-item(href="#/components/drawer/permanent-above")
      .sample-sub-list-item
        | Permanent above toolbar
    mdc-list-item(href="#/components/drawer/permanent-below")
      .sample-sub-list-item
        | Permanent below toolbar
    mdc-list-item(href="#/components/drawer/persistent")
      .sample-sub-list-item
        | Persistent
    mdc-list-item(href="#/components/drawer/temporary")
      .sample-sub-list-item
        | Temporary
    mdc-list-divider
    mdc-list-item(href="#/components/grids")
      | Grids      
    mdc-list-item(href="#/components/grid-list")
      | Grid List

    mdc-list-divider
    mdc-list-item Inputs and controls
    mdc-list-item(href="#/components/inputs/checkbox")
      .sample-sub-list-item 
        | Checkbox
    mdc-list-item(href="#/components/inputs/radio")
      .sample-sub-list-item
        | Radio
    mdc-list-item(href="#/components/inputs/selects")
      .sample-sub-list-item
        | Select
    mdc-list-item(href="#/components/inputs/selects-css")
      .sample-sub-list-item
        | Select-css
    mdc-list-item(href="#/components/inputs/slider")
      .sample-sub-list-item
        | Slider
    mdc-list-item(href="#/components/inputs/switches")
      .sample-sub-list-item
        | Switches
    mdc-list-item(href="#/components/inputs/textfield")
      .sample-sub-list-item
        | Textfield

    mdc-list-divider
    mdc-list-item(href="#/components/linear-progress")
      | Linear Progress
    mdc-list-item(href="#/components/list")
      | List
    mdc-list-item(href="#/components/ripple")
      | Ripple
    mdc-list-item(href="#/components/simple-menu")
      | Simple menu
    mdc-list-item(href="#/components/snackbar")
      | Snackbar
    mdc-list-item(href="#/components/tabs")
      | Tabs
    mdc-list-item(href="#/components/toolbars")
      | Toolbars

    //- mdc-list-divider
    //- mdc-list-item(href="#/components/typography")
    //-   | Typography
