template

  // TOOLBAR LINKS
  require(from="../toolbar-links")

  // TOOLBAR TITLE
  require(from="../toolbar-title")

  // ELEMENTS -MENU LIST
  require(from="./app-menu.html")

  // TOOLBAR
  mdc-toolbar.mdc-theme--dark(fixed="true" waterfall="true")
    mdc-toolbar-row

      // HEADER
      mdc-toolbar-section(start="true")
        toolbar-title

      // MAIN NAV
      mdc-toolbar-section(end="true" fit="true")
        toolbar-links(doc="false" comp="true")

  // adjust for fixed toolbar
  .mdc-toolbar-fixed-adjust

    // make drawer and main area stay side by side
    .container-permanent

      // NAV BAR
      mdc-drawer-permanent.mdc-show-drawer(spacer="false")
        app-menu

      // MAIN AREA
      main.mdc-typography--body1
        router-view      
