template

  // SAMPLE
  section
    legend.mdc-typography--display1 Components
    mdc-grid
      
      mdc-grid-cell(span="12")
        section
          p More to come on this page. For now browse menu to your left.
