template

  // SAMPLE
  mdc-grid
    mdc-grid-cell(span="12")
      span.mdc-typography--display1 Components
    
    mdc-grid-cell(span="6")
      mdc-list-group

        // BUTTONS
        mdc-list-group-header Buttons
        mdc-list(tag="nav")
          mdc-list-item(href="#/components/buttons" ripple="true")
            span(slot="start")
              svg-obj(src="images/components/ic_button_24px.svg")
            span Buttons
          mdc-list-item(href="#/components/buttons/fab" ripple="true")
            span(slot="start")
              svg-obj(src="images/components/ic_button_24px.svg")
            span FAB
          mdc-list-item(href="#/components/buttons/icon-toggle" ripple="true")
            span(slot="start")
              svg-obj(src="images/components/ic_button_24px.svg")
            span Icon toggle

        // INPUTS
        mdc-list-group-header Inputs
        mdc-list(tag="nav")
          mdc-list-item(href="#/components/inputs/checkboxes" ripple="true")
            span(slot="start")
              svg-obj(src="images/components/ic_selection_control_24px.svg")
            span Checkboxes
          mdc-list-item(href="#/components/inputs/radio-buttons" ripple="true")
            span(slot="start")
              svg-obj(src="images/components/ic_radio_button_24px.svg")
            span Radio Buttons
          mdc-list-item(href="#/components/inputs/select-menus" ripple="true")
            span(slot="start")
              svg-obj(src="images/components/ic_menu_24px.svg")
            span Select Menus
          mdc-list-item(href="#/components/inputs/select-menus-css" ripple="true")
            span(slot="start")
              svg-obj(src="images/components/ic_menu_24px.svg")
            span Select Menus CSS
          mdc-list-item(href="#/components/inputs/sliders" ripple="true")
            span(slot="start")
              svg-obj(src="images/components/slider.svg")
            span Sliders
          mdc-list-item(href="#/components/inputs/switches" ripple="true")
            span(slot="start")
              svg-obj(src="images/components/ic_switch_24px.svg")
            span Switches
          mdc-list-item(href="#/components/inputs/text-fields" ripple="true")
            span(slot="start")
              svg-obj(src="images/components/ic_text_field_24px.svg")
            span Text Fields
        
        // EFFECTS
        mdc-list-group-header Effects
        mdc-list(tag="nav")
          mdc-list-item(href="#/components/ripples" ripple="true")
            span(slot="start")
              svg-obj(src="images/components/ic_ripple_24px.svg")
            span Ripples


    mdc-grid-cell(span="6")
      mdc-list-group

        // CONTROLS
        mdc-list-group-header Controls
        mdc-list(tag="nav")
          mdc-list-item(href="#/components/dialogs" ripple="true")
            span(slot="start")
              svg-obj(src="images/components/ic_dialog_24px.svg")
            span Dialogs
          mdc-list-item(href="#/components/linear-progress" ripple="true")
            span(slot="start")
              svg-obj(src="images/components/ic_progress_activity.svg")
            span Linear Progress
          mdc-list-item(href="#/components/lists" ripple="true")
            span(slot="start")
              svg-obj(src="images/components/ic_list_24px.svg")
            span Lists
          mdc-list-item(href="#/components/menus" ripple="true")
            span(slot="start")
              svg-obj(src="images/components/ic_menu_24px.svg")
            span Menus
          mdc-list-item(href="#/components/snackbars" ripple="true")
            span(slot="start")
              svg-obj(src="images/components/ic_toast_24px.svg")
            span Snackbars
          mdc-list-item(href="#/components/tabs" ripple="true")
            span(slot="start")
              svg-obj(src="images/components/ic_tabs_24px.svg")
            span Tabs

        // LAYOUT
        mdc-list-group-header Layout
        mdc-list(tag="nav")
          mdc-list-item(href="#/components/cards" ripple="true")
            span(slot="start")
              svg-obj(src="images/components/ic_card_24px.svg")
            span Cards
          mdc-list-item(href="#/components/grid-lists" ripple="true")
            span(slot="start")
              svg-obj(src="images/components/ic_card_24px.svg")
            span Glid Lists
          mdc-list-item(href="#/components/layout-grids" ripple="true")
            span(slot="start")
              svg-obj(src="images/components/ic_responsive_layout_24px.svg")
            span Layout Grids
          mdc-list-item(href="#/components/toolbars" ripple="true")
            span(slot="start")
              svg-obj(src="images/components/ic_toolbar_24px.svg")
            span Toolbars
          mdc-list-item(href="#/components/typography" ripple="true")
            span(slot="start")
              i.material-icons.md-dark text_fields
            span Typography

        // DRAWERS
        mdc-list-group-header Drawers
        mdc-list(tag="nav")
          mdc-list-item(href="#/components/drawers/permanent-above" ripple="true")
            span(slot="start")
              svg-obj(src="images/components/ic_side_navigation_24px.svg")
            span Permanent Above Toolbar
          mdc-list-item(href="#/components/drawers/permanent-below" ripple="true")
            span(slot="start")
              svg-obj(src="images/components/ic_side_navigation_24px.svg")
            span Permanent Below Toolbar
          mdc-list-item(href="#/components/drawers/persistent" ripple="true")
            span(slot="start")
              svg-obj(src="images/components/ic_side_navigation_24px.svg")
            span Persistent
          mdc-list-item(href="#/components/drawers/temporary" ripple="true")
            span(slot="start")
              svg-obj(src="images/components/ic_side_navigation_24px.svg")
            span Temporary
