template
  require(from="./fab.css")

  // SAMPLE
  section
    legend.mdc-typography--display1 Floating Action Buttons
    mdc-grid
      
      // CONFIG AREA
      mdc-grid-cell(span="4")      
        section
          mdc-checkbox(checked.bind="plain") plain
        section
          mdc-checkbox(checked.bind="mini") mini

      // DEMO AREA
      mdc-grid-cell(span="8")
        section
          button(mdc-fab="plain.bind: plain; mini.bind: mini; aria-label: Star;" mdc-ripple) star
        section
          button(mdc-fab="plain.bind: plain; mini.bind: mini; aria-label: Fingerprint;" mdc-ripple) fingerprint
          button(mdc-fab="plain.bind: plain; mini.bind: mini; aria-label: Https;" mdc-ripple) https
          button(mdc-fab="plain.bind: plain; mini.bind: mini; aria-label.bind: ariaText;" click.delegate="changeAria()" mdc-ripple) done_all
          button(mdc-fab="plain.bind: plain; mini.bind: mini; aria-label: Accessibility;" mdc-ripple) accessibility
          button.my-fab--fixed(mdc-fab="aria-label: Accessibility;" mdc-ripple) accessibility


      mdc-grid-cell(span="12")

        // LINKS
        hr
        section
          a(href="https://material.io/components/web/catalog/buttons/floating-action-buttons/" target="_blank" data-analytics-category="external" data-analytics-action="mdc-fab") Material components documentation
        section
          a(href="https://material.io/guidelines/components/buttons-floating-action-button.html" target="_blank" data-analytics-category="external" data-analytics-action="mdg-fab") Material design guidelines
        section
          a(href="https://material.io/icons/" target="_blank" data-analytics-category="external" data-analytics-action="mdc-icons") Icons
        hr

        // EXAMPLE
        section

          // html
          pre
            code-prism.
              &lt;button 
                mdc-fab="aria-label: Hello World; plain: true; mini: true;" 
                mdc-ripple&gt;
                favorite_border
              &lt;/button&gt;      


        // POSITION
        section
          legend.mdc-typography--headline Position
          p.
            By default the FAB rests in the page where it sits in the content flow. 
            Developers must position it as-needed within their applications designs.
          pre
            code-prism.
              &lt;style&gt;
                .my-fab--fixed {
                  position: fixed;
                  bottom: 1rem;
                  right: 1rem;
                }

                @media(min-width: 1024px) {
                  .my-fab--fixed {
                    bottom: 3rem;
                    right: 5rem;
                  }
                }
              &lt;/style&gt;

              &lt;button class="my-fab--fixed" mdc-fab="aria-label: Accessibility;" mdc-ripple&gt;
                favorite_border
              &lt;/button&gt;     
