template
  // MENU LIST
  require(from="../../app-menu")

  // STYLES FOR LAYOUT
  require(from="./drawer.css")

  // TOOLBAR
  require(from="../sample-toolbar")

  .container-permanent-body

    // TOOLBAR
    sample-toolbar(fixed="true")
    
    .mdc-toolbar-fixed-adjust
      .container-permanent-content
        
        // NAV BAR
        mdc-drawer-permanent
          mdc-drawer-spacer.mdc-typography--headline Spacer
          mdc-drawer-header.mdc-typography--headline Header
          app-menu        

        // MAIN AREA
        main
          mdc-grid
            mdc-grid-cell(span="12")
              span.mdc-typography--display1 Permanent Drawer Below Toolbar

            // SHOW SPACER
            mdc-grid-cell(span="12")
              p.
                A permanent drawer is always open, sitting to the side of the content. 
                It is appropriate for any display size larger than mobile.

            // LINKS
            mdc-grid-cell(span="12")
              hr
              a(href="https://material.io/components/web/catalog/drawers/" target="_blank" data-analytics-category="external" data-analytics-action="mdc-drawer") Material components documentation
              br
              a(href="https://material.io/guidelines/patterns/navigation-drawer.html" target="_blank" data-analytics-category="external" data-analytics-action="mdg-drawer") Material design guidelines
              hr
              a(href="#/components/toolbars") mdc-toolbar
              br
              a(href="#/components/lists") mdc-list
              hr

            // BASIC
            mdc-grid-cell(span="12")
              section
                span.mdc-typography--headline Element
                pre
                  code-prism.
                    <mdc-drawer-permanent></mdc-drawer-permanent>
                  
            // LAYOUT
            mdc-grid-cell(span="12")
              section
                span.mdc-typography--headline Layout
                pre
                  code-prism.
                    &lt;!-- stack toolbar and content on top of each other. --&gt;
                    <div class="container-permanent-body">

                      &lt;!-- TOOLBAR --&gt;
                      <mdc-toolbar fixed="true"></mdc-toolbar>

                      &lt;!-- REMOVE this class if NOT using FIXED toolbar  --&gt;
                      <div class="mdc-toolbar-fixed-adjust">

                        &lt;!-- place drawer and main next to each other. --&gt;
                        <div class="container-permanent-content">

                          &lt;!-- DRAWER --&gt;
                          <mdc-drawer-permanent>

                            &lt;!-- SPACER (optional) --&gt;
                            &lt;mdc-drawer-spacer class="mdc-typography--headline"&gt;
                              Spacer
                            &lt;mdc-drawer-spacer&gt;

                            &lt;!-- HEADER (optional) --&gt;
                            &lt;mdc-drawer-header class="mdc-typography--headline"&gt;
                              Header
                            &lt;mdc-drawer-header&gt;

                            &lt;!-- LIST ITEMS --&gt;
                            <mdc-list tag="nav" dense="true">
                              <mdc-list-item href="#/">Link 1</mdc-list-item>
                              <mdc-list-divider></mdc-list-divider>
                              <mdc-list-item href="#/">Link 2</mdc-list-item>
                            </mdc-list>
                          </mdc-drawer-permanent>

                          &lt;!-- MAIN AREA --&gt;
                          <main class="container-permanent-main">
                          </main>

                        </div>
                      </div>
                    </div>
                pre
                  code-prism(language="css").
                    /* Stack toolbar and content on top of each other. */
                    .container-permanent-body {
                      display: flex;
                      flex-direction: column;
                      padding: 0;
                      margin: 0;
                      box-sizing: border-box;
                      min-height: 100%;
                    }

                    /* Place drawer and main next to each other. */
                    .container-permanent-content {
                      display: flex;
                      flex: 1 1 auto;
                      height: 100%;
                      box-sizing: border-box;
                    }

                    /* Main content padding */
                    .container-permanent-main {
                      padding: 16px 16px 0 16px;
                    }


            // HEADER
            mdc-grid-cell(span="12")
              section
                span.mdc-typography--headline Header
                p.
                  A header is a large rectangular area that maintains a 16:9 ratio. 
                  It’s often used for user account selection. The content will be bottom-aligned.

                pre
                  code-prism.
                    &lt;mdc-drawer-permanent&gt;
                      ...

                      &lt;!-- HEADER --&gt;
                      &lt;mdc-drawer-header&gt;
                        Header here
                      &lt;mdc-drawer-header&gt;
                    
                      ...
                    &lt;/mdc-drawer-permanent&gt;

                pre
                  code-prism(language="css").
                    /* scss */
                    @import "@material/theme/mixins";

                    mdc-drawer-header {
                      @include mdc-theme-prop(background-color, primary);
                      @include mdc-theme-prop(color, text-primary-on-primary);
                    }

                a(href="https://material.io/components/web/catalog/theme/" target="_blank" data-analytics-category="external" data-analytics-action="mdc-theme") Material components Theme documentation


            // SPACER
            mdc-grid-cell(span="12")
              section
                span.mdc-typography--headline Spacer
                p.
                  A toolbar spacer with the correct amount of space to match the toolbar height. You can place content inside the toolbar spacer.

                pre
                  code-prism.
                    &lt;mdc-drawer-permanent&gt;
                      ...

                      &lt;!-- SPACER --&gt;
                      &lt;mdc-drawer-spacer&gt;
                        Spacer here
                      &lt;mdc-drawer-spacer&gt;
                    
                      ...
                    &lt;/mdc-drawer-permanent&gt;

                pre
                  code-prism(language="css").
                    /* scss */
                    @import "@material/theme/mixins";

                    mdc-drawer-spacer {
                      @include mdc-theme-prop(background-color, accent);
                      @include mdc-theme-prop(color, text-primary-on-primary);
                    }

                a(href="https://material.io/components/web/catalog/theme/" target="_blank" data-analytics-category="external" data-analytics-action="mdc-theme") Material components Theme documentation
