/* Stack toolbar and content on top of each other. */
.container-permanent-body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-height: 100%;
}

/* Place drawer and main next to each other. */
.container-permanent-content {
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  box-sizing: border-box;
}
