template
  li.mdc-list-divider(if.bind="isUlDivider" ref="elementDivider" role="separator" class.bind="class")
  div.mdc-list-divider(if.bind="isNavDivider" ref="elementDivider" role="separator" class.bind="class")
