template
  // MENU LIST
  require(from="../../app-menu")

  // STYLES FOR LAYOUT
  require(from="./drawer.css")

  // TOOLBAR
  require(from="../sample-toolbar")

  .container-permanent-above-body

    // NAV BAR
    mdc-drawer-permanent
      mdc-drawer-spacer.mdc-typography--headline Spacer
      mdc-drawer-header.mdc-typography--headline Header
      app-menu

    .container-permanent-above-content

      // TOOLBAR
      sample-toolbar(fixed="false")

      // MAIN AREA
      main

        section
          mdc-grid
            mdc-grid-cell(span="12")
              h4 Permanent Drawer Above Toolbar
              p A permanent drawer is always open, sitting to the side of the content.
              p It is appropriate for any display size larger than mobile.

            // LINKS
            mdc-grid-cell(span="12")
              hr
              a(href="https://material.io/components/web/catalog/drawers/" target="_blank" data-analytics-category="external" data-analytics-action="mdc-drawer") Material components documentation
              br
              a(href="https://material.io/guidelines/patterns/navigation-drawer.html" target="_blank" data-analytics-category="external" data-analytics-action="mdg-drawer") Material design guidelines
              hr
              a(href="#/components/toolbars") mdc-toolbar
              br
              a(href="#/components/lists") mdc-list
              hr

            // BASIC
            mdc-grid-cell(span="12")
              section
                h5 Element
                pre
                  code-prism.
                    <mdc-drawer-permanent></mdc-drawer-permanent>

            // LAYOUT
            mdc-grid-cell(span="12")
              section
                h5 Layout
                pre
                  code-prism.
                    &lt;!-- place drawer and content side by side. --&gt;
                    <div class="container-permanent-above-body">

                      &lt;!-- DRAWER --&gt;
                      <mdc-drawer-permanent>

                        &lt;!-- SPACER (optional) --&gt;
                        &lt;mdc-drawer-spacer class="mdc-typography--headline"&gt;
                          Spacer
                        &lt;/mdc-drawer-spacer&gt;

                        &lt;!-- HEADER (optional) --&gt;
                        &lt;mdc-drawer-header class="mdc-typography--headline"&gt;
                          Header
                        &lt;/mdc-drawer-header&gt;

                        &lt;!-- LIST ITEMS --&gt;
                        <mdc-list tag="nav" dense="true">
                          <mdc-list-item href="#/">Link 1</mdc-list-item>
                          <mdc-list-divider></mdc-list-divider>
                          <mdc-list-item href="#/">Link 2</mdc-list-item>
                        </mdc-list>

                      </mdc-drawer-permanent>
                    
                      &lt;!-- stack toolbar and main on top of each other. --&gt;
                      <div class="container-permanent-above-content">
                      
                        &lt;!-- TOOLBAR --&gt;
                        <mdc-toolbar fixed="false"></mdc-toolbar>

                        &lt;!-- MAIN AREA --&gt;
                        <main class="container-permanent-above-main">
                        </main>

                      </div>
                    </div>
                pre
                  code-prism(language="css").
                    /* Place drawer and content side by side. */
                    .container-permanent-above-body {
                      display: flex;
                      flex-direction: row;
                      padding: 0;
                      margin: 0;
                      box-sizing: border-box;
                      min-height: 100%;
                      width: 100%;
                    }

                    /* Stack toolbar and main on top of each other. */
                    .container-permanent-above-content {
                      display: inline-flex;
                      flex-direction: column;
                      flex-grow: 1;
                      height: 100%;
                      box-sizing: border-box;
                    }

                    /* Main content padding */
                    .container-permanent-above-main {
                      padding: 16px 16px 0 16px;
                    }


            // HEADER
            mdc-grid-cell(span="12")
              section
                h5 Header
                p.
                  A header is a large rectangular area that maintains a 16:9 ratio. 
                  It’s often used for user account selection. The content will be bottom-aligned.

                pre
                  code-prism.
                    &lt;mdc-drawer-permanent&gt;
                      ...

                      &lt;!-- HEADER --&gt;
                      &lt;mdc-drawer-header&gt;
                        Header here
                      &lt;/mdc-drawer-header&gt;
                    
                      ...
                    &lt;/mdc-drawer-permanent&gt;

                pre
                  code-prism(language="css").
                    /* scss */
                    @import "@material/theme/mixins";

                    mdc-drawer-header {
                      @include mdc-theme-prop(background-color, primary);
                      @include mdc-theme-prop(color, text-primary-on-primary);
                    }

                a(href="https://material.io/components/web/catalog/theme/" target="_blank" data-analytics-category="external" data-analytics-action="mdc-theme") Material components Theme documentation


            // SPACER
            mdc-grid-cell(span="12")
              section
                h5 Spacer
                p.
                  A toolbar spacer with the correct amount of space to match the toolbar height. You can place content inside the toolbar spacer.

                pre
                  code-prism.
                    &lt;mdc-drawer-permanent&gt;
                      ...

                      &lt;!-- SPACER --&gt;
                      &lt;mdc-drawer-spacer&gt;
                        Spacer here
                      &lt;/mdc-drawer-spacer&gt;
                    
                      ...
                    &lt;/mdc-drawer-permanent&gt;

                pre
                  code-prism(language="css").
                    /* scss */
                    @import "@material/theme/mixins";

                    mdc-drawer-spacer {
                      @include mdc-theme-prop(background-color, secondary);
                      @include mdc-theme-prop(color, text-primary-on-primary);
                    }

                a(href="https://material.io/components/web/catalog/theme/" target="_blank" data-analytics-category="external" data-analytics-action="mdc-theme") Material components Theme documentation
