@import '_styles/colors';
@import '_styles/material';

@import '_styles/drawer';
@import '_styles/frontpage';
@import '_styles/layout';
@import '_styles/material-icons';
@import '_styles/svg';
@import '_styles/table';
@import '_styles/toolbar';
@import '_styles/visibility';
@import '_styles/buttons';
@import '_styles/icon-toggle';
@import '_styles/sliders';
@import '_styles/progress';
@import '_styles/text-field.scss';
@import '_styles/tab.scss';
@import '_styles/select.scss';
@import '_styles/ripple.scss';
