template

  // STYLE -APP
  require(from="./app.css")

  // STYLE -PRISM THEME
  require(from="../style/prism/prism.css")
  //- require(from="../node_modules/prismjs/themes/prism-coy.css")
  //- require(from="../node_modules/prismjs/themes/prism-dark.css")
  //- require(from="../node_modules/prismjs/themes/prism-funky.css")
  //- require(from="../node_modules/prismjs/themes/prism-okaidia.css")
  //- require(from="../node_modules/prismjs/themes/prism-solarizedlight.css")
  //- require(from="../node_modules/prismjs/themes/prism-tomorrow.css")
  //- require(from="../node_modules/prismjs/themes/prism-twilight.css")

  // ROUTER PLAY GROUND
  router-view
