template
  a.mdc-hide-phone(mdc-button="accent.bind: doc;" href="#/documentation") Documentation
  a.mdc-show-phone.mdc-toolbar__icon.toolbar-icon.documents-icon(href="#/documentation")

  a.mdc-hide-phone(mdc-button="accent.bind: comp;" href="#/components") Components
  a.mdc-show-phone.mdc-toolbar__icon.toolbar-icon.components-icon(href="#/components")

  a.mdc-hide-phone(mdc-button href="https://github.com/ullfis/aurelia-mdc-bridge" data-analytics-category="external" data-analytics-action="github") Github
  a.mdc-show-phone.mdc-toolbar__icon.toolbar-icon.github-icon(href="https://github.com/ullfis/aurelia-mdc-bridge" data-analytics-category="external" data-analytics-action="github")
