template
  a.material-icons.mdc-toolbar__menu-icon(href="#/" click.delegate="onClick()" if.bind="showMenu" ref="elementClick") menu
  a.mdc-toolbar__title-link(href="#/")
    .mdc-toolbar__title.mdc-toolbar__title--full ${title}
    .mdc-toolbar__title.mdc-toolbar__title--small ${titleSmall}
