template
  .mdc-select(role="listbox" tabindex="0" ref="elementSelect" class.bind="class")
    span.mdc-select__selected-text

    .mdc-simple-menu.mdc-select__menu
      ul.mdc-list.mdc-simple-menu__items
        slot

  //- <div class="mdc-select" role="listbox" tabindex="0">
  //-   <span class="mdc-select__selected-text">Pick a food group</span>
  //-   <div class="mdc-simple-menu mdc-select__menu">
  //-     <ul class="mdc-list mdc-simple-menu__items">
  //-       <li class="mdc-list-item" role="option" id="grains" aria-disabled="true">
  //-         Pick a food group
  //-       </li>
  //-       <li class="mdc-list-item" role="option" id="grains" tabindex="0">
  //-         Bread, Cereal, Rice, and Pasta
  //-       </li>
  //-       <li class="mdc-list-item" role="option" id="vegetables" tabindex="0">
  //-         Vegetables
  //-       </li>
  //-       <li class="mdc-list-item" role="option" id="fruit" tabindex="0">
  //-         Fruit
  //-       </li>
  //-       <li class="mdc-list-item" role="option" id="dairy" tabindex="0">
  //-         Milk, Yogurt, and Cheese
  //-       </li>
  //-       <li class="mdc-list-item" role="option" id="meat" tabindex="0">
  //-         Meat, Poultry, Fish, Dry Beans, Eggs, and Nuts
  //-       </li>
  //-       <li class="mdc-list-item" role="option" id="fats" tabindex="0">
  //-         Fats, Oils, and Sweets
  //-       </li>
  //-     </ul>
  //-   </div>
  //- </div>
