template
  .mdc-select(role="listbox" tabindex="0" ref="elementSelect" class.bind="class")

    .mdc-select__surface
      .mdc-select__label ${labelText}
      .mdc-select__selected-text
      .mdc-select__bottom-line

    .mdc-menu.mdc-select__menu
      ul.mdc-list.mdc-menu__items
        slot

//- <div class="mdc-select" role="listbox" tabindex="0">
//-   <div class="mdc-select__surface">
//-     <div class="mdc-select__label">Pick a Food Group</div>
//-     <div class="mdc-select__selected-text"></div>
//-     <div class="mdc-select__bottom-line"></div>
//-   </div>
//-   <div class="mdc-simple-menu mdc-select__menu">
//-     <ul class="mdc-list mdc-simple-menu__items">
//-       <li class="mdc-list-item" role="option" tabindex="0">
//-         Bread, Cereal, Rice, and Pasta
//-       </li>
//-       <li class="mdc-list-item" role="option" tabindex="0">
//-         Vegetables
//-       </li>
//-       <li class="mdc-list-item" role="option" tabindex="0">
//-         Fruit
//-       </li>
//-       <li class="mdc-list-item" role="option" tabindex="0">
//-         Milk, Yogurt, and Cheese
//-       </li>
//-       <li class="mdc-list-item" role="option" tabindex="0">
//-         Meat, Poultry, Fish, Dry Beans, Eggs, and Nuts
//-       </li>
//-       <li class="mdc-list-item" role="option" tabindex="0">
//-         Fats, Oils, and Sweets
//-       </li>
//-     </ul>
//-   </div>
//- </div>
