template
  .mdc-select(role="listbox" tabindex="0" ref="elementSelect" class.bind="class")

    .mdc-select__surface
      .mdc-select__label ${labelText}
      .mdc-select__selected-text
      .mdc-select__bottom-line

    .mdc-menu.mdc-select__menu
      ul.mdc-list.mdc-menu__items
        slot
